@*MVC_Project_Part2
    Mudrak Patel and Javid Niftaliyev*@
@{
    ViewBag.Title = "About Us";
}
<div class="img-responsive imgdiv">
    <style>
        body {
            background-image: url("../Assets/images/coffee2.jpg");
        }
    </style>
    <div class="image2">
        <div style="float:right;margin-right:-75px;">
            <h2 style="text-align:center">About Us</h2>
            <img src="~/Assets/images/coffee5.jpg" height="300" class="col-lg-offset-1" align="middle" style="float:none;" />
            <h3 style="text-align:center">What to know!</h3>
            <p style="text-align:right">
                Located in the Bloor area, Cafe Society offers a country elegance and a magnificent
                view to the guests while partaking a scrumptuous meal. Les Fougères Restaurant’s menu changes
                depending on the seasons. They have an la carte menu, a monthly table d’hâute, an 11-course tasting menu,
                and many more.
            </p>

            <h3 style="text-align:center" >Mission Statement</h3>
            <p style="text-align:right">

                1. To achieve and maintain such distinction in food and wine, service, atmosphere and setting that
                the restaurant gains a first class reputation for gastronomy, gracious and informed hospitality,
                comfort and beauty which draws new and repeat customers year after year. 2. To achieve the above whilst
                upholding staff policies and practices which promote a fair and positive working environment.
                3. To be aware of and act on our responsibilities as a good corporate citizen.
            </p>
        </div>
      </div>
    </div>







