@*MVC_Project_Part2
    Mudrak Patel and Javid Niftaliyev*@
@{
    ViewBag.Title = "About Us";
}
<div class="img-responsive imgdiv">
 <img src="~/Assets/images/1070.jpg" height="300" width="550" class="col-lg-offset-1" align ="middle"style="float:none;" />
        <p alight="center">
            Located in the Bloor area, Cafe Society offers a country elegance and a magnificent
            view to the guests while partaking a scrumptuous meal. Les Fougères Restaurant’s menu changes
            depending on the seasons. They have an la carte menu, a monthly table d’hâute, an 11-course tasting menu,
            and many more.
        </p>      

    <h4>Mission Statement</h4>
    <p>

        1. To achieve and maintain such distinction in food and wine, service, atmosphere and setting that
        the restaurant gains a first class reputation for gastronomy, gracious and informed hospitality,
        comfort and beauty which draws new and repeat customers year after year. 2. To achieve the above whilst
        upholding staff policies and practices which promote a fair and positive working environment.
        3. To be aware of and act on our responsibilities as a good corporate citizen to: * provide a safe,
        clean and attractive place for guests to enjoy and for employees to work in; * ensure ecologically
        sound management practices at the restaurant and in our surrounding gardens and woods;
        * undertake meaningful involvement of Cafe Society Restaurant in selected charitable activities
        in our community and region.
    </p>
    </div>







