@*MVC_Project_Part2
    Mudrak Patel and Javid Niftaliyev*@
@{
    ViewBag.Title = "ContactUs";
}
<div class="img-responsive imgdiv">
  
    <style>
        body {
            background-image: url("../Assets/images/contactb.jpg");
        }
    </style>
    <div class="image2">
        <div style="float:right;margin-right:5px;">
            <h2 style="text-align:center">Contact Us</h2>
            <h2 style="text-align:center">Hours of Operation</h2>
            <p>
                Daily: 12am - 11pm
                Happy Hour Monday - Friday: 3pm - 9pm
            </p>
            <h2 style="text-align:center">Location</h2>
            <p>
                143 Bloor st
                Toront,ON, M3R4N1
            </p>
            <h2 style="text-align:center">Contact</h2>
            <p>Main Phone: 416-225-5555</p>

            <p>
                Email: CafeSociety@hotmail.com
            </p>

            <img src="~/Assets/images/fullmaps.png" height="300" width="550" class="col-lg-offset-1" style="float:right;margin-right:10px;" />
        </div>
    </div>
    </div>



