@*MVC_Project_Part2
    Mudrak Patel and Javid Niftaliyev*@
@{
    ViewBag.Title = "ContactUs";
}
<div class="img-responsive imgdiv">
    <div class="image2">
        <div style="float:right;margin-right:5px;">

            <h2>Hours of peration</h2>
            <p>
                Daily: 12am - 11pm
                Happy Hour Monday - Friday: 3pm - 9pm
            </p>
            <h2>Location</h2>
            <p>
                143 Bloor st
                Toront,ON, M3R4N1
            </p>
            <h2>Contact</h2>
            <p>
                Main Phone: 416-225-5555
                Email: CafeSociety@hotmail.com
            </p>

            <img src="~/Assets/images/Capture12.jpg" height="200" width="550" class="col-lg-offset-1" style="float:right;margin-right:10px;" />
        </div>
    </div>
    </div>



