@*MVC_Project_Part2
    Mudrak Patel and Javid Niftaliyev - 300742916
    Date: Dec 16 / 2016
    Part 2 Final Project
    Github: github.com/Web1017/MVC_Project_Part2
    Azure: mvc-final-project-part2.azurewebsites.net/*@
@{
    ViewBag.Title = "Home";
}


<section >
    <div class="image1" float="left" >
        <img src="~/Assets/images/cafe2.jpg" height="400" width="1150" float="right"  />
        <center><h2>Welcome to Cafe Society</h2></center>
        <h3 style="text-align: center;">One Location, Two Exeptional Dining Experience </h3>
    </div>
    <!-- <div class="img-responsive indexView">
         <h5 class="restaurantTextBody col-lg-pull-5">
          <!--   Grab a coffee and a light snack that enlightens your evening.
         </h5> -->
    <div class="image2">
        <div style="float:right;margin-right:55px;">
            <a href="../Menu_list/Index"> <img src="~/Assets/images/menu2.png" height="200" width="200" class="col-lg-offset-1" align="middle" style="float:none"/></a>
                <p style="text-align:center;">Menu</p>

</div>
        <div style="float:right;margin-right:5px;">
            <a href="Contact"><img src="~/Assets/images/order1.png" height="200" width="200" /></a>
                <p style="text-align:center;">Order Now</p>
</div>
        <div style="float:left;margin-right:5px;">
            <a href="About"><img src="~/Assets/images/about1.jpg" height="200" width="200" /></a>
                <p style="text-align:center;">About</p>
</div>
    </div>
</section>
<section>
    <div class="image2">
        <div style="float:right;margin-right:5px;">
            <h3 class="col-lg-offset-1" style="text-align: center;">The Best on The Menu </h3>
            <img src="~/Assets/images/dinner1.jpg" height="400" width="750" class="col-lg-offset-1" />
            <p></p>
        </div>
    </div>
</section>
